<p>we have <b>{{signers.num}}</b> signers in <b>{{signers.city}}</b></p>
<ul>
    {{#each signers.signers}}
        <li>
            {{#if this.url}}
                <a href="http://{{this.url}}" target="_blank">
                    {{this.firstName}} {{this.lastName}}
                </a>
            {{else}}
                {{this.firstName}} {{this.lastName}}
            {{/if}}&nbsp;
            ({{#if this.age}}
                {{ this.age }}
            {{/if}})
        </li>
    {{/each}}
</ul>
