<!-- /profile/edit -->
{{#userData}}
<h2>Edit your profile information</h2>
<form class="profile_edit" action="/profile/edit" method="POST">
    <input type="text" name="firstName" value="{{firstName}}" required>
    <p>First Name</p>
    <input type="text" name="lastName" value="{{lastName}}" required>
    <p>Last Name</p>
    <input type="text" name="email" value="{{email}}" required>
    <p>Email Address</p>
    <input type="password" name="password" disabled>
    <p>Password</p>
    <input type="text" name="age" value="{{age}}" >
    <p>Age</p>
    <input type="text" name="city" value="{{city}}" >
    <p>City</p>
    <input type="text" name="url" value="{{url}}" >
    <p>Homepage</p>
    <button type="submit" name="update">UPDATE</button>
</form>
{{/userData}}
