<p>We the undersigned demad that the barbaric practice of wearing Crocs in pubblic places be banned by all nation.</p>

<ul>
    {{#each signers}}
        <li>
            {{#if this.url}}
                <a href="http://{{this.url}}" target="_blank">
                    {{this.firstName}} {{this.lastName}}
                </a>
            {{else}}
                {{this.firstName}} {{this.lastName}}
            {{/if}}

            ({{#if this.age}}
                {{this.age}},
            {{/if}}
            {{#if this.city}}
                {{this.city}}
            {{/if}})
        </li>
    {{/each}}
</ul>
