<p>all the signers:</p>

<ul>
    {{#each signers}}
        <li>
            {{#if this.url}}
                <a href="http://{{this.url}}" target="_blank">
                    {{this.firstName}} {{this.lastName}}
                </a>
            {{else}}
                {{this.firstName}} {{this.lastName}}
            {{/if}}

            ({{#if this.age}}
                {{this.age}},
            {{/if}}
            {{#if this.city}}
            <a href="/petition/signers/{{this.city}}">{{this.city}}</a>
            {{/if}})
        </li>
    {{/each}}
</ul>
